@Scripts.Render("~/bundles/parsingForm")

<div class="row">
    <div id="map" class="col-md-8">
        <h2>Load map -></h2>
    </div>
    <div class="col-md-4">
        <h2>Formularz</h2>
        <div class="panel panel-default">
            <!--DODAWANIE KONTURÓW-->
            <section class="container" style="padding: 30px">
                <form>
                    <h3>Dodawanie punktu do konturów</h3>
                    <input type="text" name="vertexX" id="vertexX" />
                    <label for="vertexX">pozycja X</label>
                    <br />
                    <input type="text" name="vertexY" id="vertexY" />
                    <label for="vertexY">pozycja Y</label>
                    <br />
                </form>
                <button id="submitPoint" onclick="addVertex()">dodaj punkt do konturów</button>
            </section>

            <!--DODAWANIE PUNKTÓW KLUCZOWYCH-->
            <section class="container" style="padding: 30px">
                <form>
                    <h3>Dodawanie punktu kluczowego</h3>
                    <input type="text" name="keyX" id="keyX" />
                    <label for="keyX">pozycja X</label>
                    <br />
                    <input type="text" name="keyY" id="keyY" />
                    <label for="keyY">pozycja Y</label>
                    <br />
                    <input type="text" name="keyName" id="keyName" />
                    <label for="keyName">nazwa punktu</label>
                    <br />
                </form>
                <button id="submitKeyPoint" onclick="addKeyPoint()">dodaj punkt specjalny</button>
            </section>

            <div id="mouse"></div>

            <!--WCZYTYWANIE PLIKU-->
            <section style="padding: 30px">
                <h3> Wczytaj plik z danymi:</h3>
                <form>
                    <input type="file" id="textFile" accept=".txt" name="textFile" onchange="readFile(event)" />
                </form>
            </section>

            <!--WCZYTYWANIE GRAFIKI-->
            <section style="padding: 30px">
                <h3> Wczytaj grafikę:</h3>
                <form>
                    <input type="file" id="imageUpload" accept=".gif,.jpg,.jpeg,.png" onchange="readImage(event)" />
                </form>
            </section>

            <!--LISTA OBIEKTOW-->
            <div id="keyObjects" style="margin-top: 30px">
                <nav class="navbar navbar-light bg-dark">
                    <h3 class="text-light">
                        lista obiektów kluczowych
                    </h3>
                    <button id="hideKeyObjectsButton" onclick="hide('keyObjectsList')">ukryj/pokaż</button>

                </nav>
                <div id="keyObjectsList" style="display:block">
                </div>
            </div>

            <!--LISTA KONTUROW-->
            <div id="vertices" style="margin-top: 30px">
                <nav class="navbar navbar-light bg-dark">
                    <h3 class="text-light">lista konturów</h3>
                    <button id="hideVerticesButton" onclick="hide('verticesList')">ukryj/pokaż</button>
                </nav>
                <div id="verticesList" style="display:block">
                </div>
            </div>


            <!--TESKT JSONA-->
            <section class="container">
                <div id="hiddenData" style="display: none"></div>
            </section>

        </div>
    </div>
</div>

<script>
    let allData = new AllData();
    let jsonVal = document.getElementById('hiddenData');
    jsonVal.innerHTML = JSON.stringify(allData);
</script>